* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'montserrat';
}

.desktop-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 50px;
    /* position: sticky;
    top: 0; */
}

.desktop-navigation h1 {
    padding-left: 30px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 3rem;
}
.navlinks a {
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

a:hover {
    text-decoration: underline;
    transition-duration: 700ms;
    color: black;
    text-decoration: none;
    transition-duration: ms;
    transition-timing-function: ease-in;
 

}



.main__hero {
    background-image: url('./images/Dog-Fashion-Website/Resource/image.jpeg');
    background-size: cover;
    height: 600px;
    position: relative;
    top: -50px;
    z-index: -3;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}
.dogwalk-text {

    font-size: 2.5rem;
    /* float: left; */
    color: white;
    margin-left: 50px;
 
}

.dogwalk-text span{
    text-decoration: line-through;
    font-style: italic;
}

.pupparatzi-text {
    color: white;
    position: relative;
    top: 200px;
    padding-right:4%;
    
}

.pupparatzi-text p{
    color: white;
    padding-top: 2%;
    font-style: italic;
    text-align: right;
}



.ultimutt{
    text-align: center;
    
}

.pupparatzi-text h3 {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 1.5rem;
    text-align: right;

}
.ultimutt p {
    font-size: 1.5rem;
    padding-bottom: 40px;
}

.ultimutt span {
    font-size: 0.75rem;
    font-style: italic;
}



/* cards section */

.card2 > .card-2wrapper {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cards {
   text-align: center;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "pic1 pic2 pic3"
    "text1 text2 text3"
    "button1 button2 button";
    row-gap: 15px;
    justify-content: center;

}

.imagecard1 {
    grid-area: pic1;
}
.imagecard1 img {
    width: 90%;
}

.textcard1 {
    grid-area: text1;
    margin: 20px 10px;
    height: 150px;

}
.buttonbuynow1 {
    grid-area: button1;

    align-self: flex-end;
}

.imagecard2 {
    grid-area: pic2;

}
.imagecard2 img {
    width: 90%;
    

}
.textcard2 {
    grid-area: text2;
    margin: 20px 10px;

    height: 150px;
}

.buttonbuynow2 {
    grid-area: button2;


}

.imagecard3 {
    grid-area: pic3;
}
.imagecard3 img {
    width: 90%;
}

.textcard3 {
    grid-area: text3;
    margin: 20px 10px;
    height: 150px;
  
}

.buttonbuynow3 {
    grid-area: button3;

}
/* .cards {
    display: flex;
    border: 1px solid red;

    justify-items: center;
}
.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px;    border: 1px solid red;
    align-self: flex-end;

}

.imagecard1 {
    display: flex;
    justify-content: center;
}
.imagecard1 img {
    width: 80%;
    padding-top: 9%;

}

.textcard h2, .textcard p{
    text-align: center;
    padding: 4%;
    
}

/* .card2 {
    border: 1px solid green;
    margin: 5px;

} */
/* 
.imagecard2 {
    display: flex;
    justify-content: center;
}
.imagecard2 img {
    width: 80%;
    padding-top: 9%;
}



.imagecard3 {
    display: flex;
    justify-content: center;
}
.imagecard3 img {
    width: 80%;
    padding-top: 9%; */
} */


.cards {
    margin-bottom: 20px;
}
/* .buttonbuynow {
    display: flex;
    justify-content: center;
    align-content: flex-end;
   
} */


.blackbutton {
    background-color: black;
    color: white;
    padding: 4%;
    border-radius: 5px;
    margin: 5%;
    text-decoration: none;
}
.blackbutton:hover {
    background-color: lightgray;
    text-decoration: none;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

/*  */

.footer-foot {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.socialmedia {
    padding-left: 20px;
    padding-bottom: 20px;
    color: black;
}

.socialmedia a:hover{
    color: grey;
    text-decoration: none;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}


.socialmedia a {
    padding: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.copyright {
    padding-right: 20px;
    padding-bottom: 20px;
}

.copyright p {
    color: black;
    text-decoration: none;
}

.footer-links{
    background-color: lightgray;
    text-align: center;
    display: flex;
    font-family: 'montserrat';
    font-size: 1.1rem;
    justify-content: center;
    padding: 50px
    
}

.footer-links a {
    /* padding: 30%; */
    text-decoration: none;
    color: black;
    margin: 5% 0;
}


.linkrow {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 0 7%;
}
.linkrow a{


}
.linkrow a:hover {
    color: white;
    text-decoration: none;
    transition-duration: 200ms;
    /* transition-timing-function: ease-in-out; */
}

.mobile-navigation, .navlinks-mobile {
    display: none;
}

@media only screen and (min-width: 785px) and (max-width: 1000px) {
    .pupparatzi-text {
        color: white;
        position: relative;
        top: 200px;
        padding-right:4%;
        right: 500px;
        text-align: left !important;
    }
}

.mobile-navigation {
    display: none;
}

/* .textcard {
    font-size: 0.8rem;

} */

@media only screen and (min-width: 566px) and (max-width: 784px) {
    
    main {
        width: 
    }
    .desktop-navigation {
        display: none;   
    }

  
    .logo-mobile {
        padding-top: 10px;
        padding-left: 10px;
    }

   

    .main__hero {
        background-size: cover;
        height: 450px;
        background-position: center;
        position: relative;
        top: -90px;
        
    }

    .dogwalk-text h1 {
       font-size: 2.5rem;
       position: relative;
       top: 40px;

    }
    
    .mobile-navigation {
       display: contents;
       display: flex;
     
    }

    .pupparatzi-text h3, .pupparatzi-text p{
        font-size: 15px;
        position: relative;
        bottom: 25px;
    }

    .navlinks-mobile {
        display: contents;
        display: flex;
        justify-content: end;
        position: relative;
        bottom: 45px;
        padding-right: 10px;
    }

    .navlinks-mobile a {
        margin: 8px;
        text-decoration: none;
        color: white;
    }

    .ultimutt {
        margin: 0 20%;
        position: relative;
        bottom: 20px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 565px) {
.main__hero h1{
    color: white;
    font-size: 2rem;
    position: relative;
    top: 80px;
    background-color: black;
    opacity: 70%;
    width: %;
}

.dogwalk-text {
    width: 100%;
    position: relative;
    right: 20px;
}

.navlinks {
    display: none;
}
.main__hero {
    background-size: 700px;
    background-position: center;
    height: 380px;
    position: relative;
    top: 3px;
}


.desktop-navigation h1 {
    display: none;
}
.desktop-navigation {
    display: none;
}
.pupparatzi-text {
    display: none;
}

.ultimutt {
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.mobile-navigation {
    display: contents;

}
.cards {
    display: block;
}

.textcard1 {
    height: fit-content;
    padding: 20px;
}

.buttonbuynow1 {
    margin-bottom: 30px;
}

.imagecard2 img{
    margin-top: 20px;
}
.textcard2 {
    height: fit-content;
    padding: 20px;
}



.card-2wrapper {

    padding-bottom: 30px;
}

.imagecard3 {
    margin-top: 20px;

}
.textcard3 {
    height: fit-content;
    padding: 20px;
}

.buttonbuynow3 {
    margin-bottom: 30px;
}

.mobile-navigation h1 {
    padding-left: 5px;

}

.navlinks-mobile {
    display: block;
    float: right;

}

.navlinks-mobile span {
    height: px;
    position: relative;
    bottom: 55px;
    color: black;
    background-color: aqua;
}
.footer-foot {
    display: block;
    text-align: center;
}

.copyright {
    display: block;
    text-align: center;
}

}